body {
  background-color: #effafa;
}

.jumbotron {
  
  padding: 2px 4px;
  background-image: linear-gradient(to left, #e8f0fc, #d5e3fe, #ffffff);
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.row-content {
  text-align: center;
  padding: 10px 8px;
  border-bottom: 1px;
  min-height: 200px;
}


hr {

  border-color: #66BFBF;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}
.navbar{
  font-size: 22px;
  text-align: center;
  background-color: rgb(210, 237, 247);
}

#skills {
  margin: auto;
  align-items: center;
  background-color: rgb(234, 244, 247);
}

#workex{
  align-items: center;
  background-color:rgb(234, 244, 247);
}

#edlinks {
  align-items: center;
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
  background-color: rgb(234, 244, 247);
}

#intro {
  margin-bottom: 200px;
}

ul {
  list-style-type: none;
}

td {
  border-style: groove;
  border-width: 2px;
  padding: 6px;
}


a {
  color: #2c7777;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

a:hover {
  color: rgb(185, 102, 245);

}

.card {
  padding: 2px;
  background-color: rgb(252, 252, 244);
}

h1 {
  font-family: 'Kanit', sans-serif;
  color: #2c7777;
 font-style: bold;
 text-decoration: underline;


}

h2 {
  font-family: 'Zilla Slab', serif;
  color: #2c7777;
 
}

h3 {
  font-family: 'Zilla Slab', serif;
  color: #2c7777;
}

p {
font-family: 'Zilla Slab', serif;
font-size: 18px;
}

.site-footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(217, 245, 255);
  padding: 8px 0;
}

#footspace {
  margin-top: 430px;
}


